<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Market</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon.png">
</head>
<body>
    <div class="app">

        <header>
            <nav class="navbar">
                <div class="logo">
                    <h1>WeightGain</h1>
                </div>
                <ul class="nav-links">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('market') }}">Market</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Alle Benutzer</h1>
            <ul>
                {% for user in users %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>

        </main>


        

        <footer>
            <p>&copy; 2024 WeightGain. Alle Rechte vorbehalten.</p>
        </footer>
        
    </div>
</body>
</html>
